# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Large/raw files
*.zip

# Models
models/*.pkl
models/*.joblib

# Temporary files
*.tmp